.category__content{
    max-width: 1228px;
    padding-top: 222px;


}
.category{
    display: flex;
    list-style-type: none;
}
.category__description{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--dark-blue);

}

.category__title{
    font-family: Volkhov;
    text-align: center;
    color: var(--dark-blue);

}

.category__item{
    display: inline-block;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;


}

.category__link{
    font-family: 'Open Sans';
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding-inline: 70px;
    text-align: center;
}
.category__weather {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
max-width: 267px;
    height: 314px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}

.category__flights {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
    max-width: 267px;
    height: 314px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}

.category__events {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
    max-width: 267px;
    height: 314px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}

.category__customization {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
    max-width: 267px;
    height: 314px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}
.category--paragraph{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 181px;
    height: 78px;
}


