.category__content{
    max-width: 1228px;
    padding-top: 222px;
}

.category__description{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

}

.category__title{

}

.category__item{



}

.category__link{
    font-family: 'Open Sans';
}