.direction__content{
    max-width: 1228px;
    padding-top: 222px;



}
.direction__city{
    display: flex;
    list-style-type: none;

}
.direction__description{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--dark-blue);


}

.direction__title{
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;

    color: var(--dark-blue);

}

.direction__item{
    display: inline-block;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;


}

.direction__link{
    font-family: 'Open Sans';
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding-inline: 70px;
    text-align: center;
}
.direction__rome {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
    max-width: 314px;
    height: 457px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}

.direction__london {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
    max-width: 314px;
    height: 457px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}

.direction__europe {
    background: color var(--rectangel);
    box-shadow:  5px 4px 5px rgb(43, 6, 0);
    max-width: 314px;
    height: 457px;
    margin: auto;
    padding-top: 30px;
    border-radius: 28px;}


.direction--paragraph{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.direction__img{
    object-fit: cover;
    width: 100%;
    height: 100%;}
