.hero__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url('/assets/img/Hero.png');
    background-repeat: no-repeat;

    background-position: right;

}


.hero__content{
    max-width: 630px;
    padding-top: 134px;
}

.hero__description {


    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    text-transform: uppercase;

    color: #DF6951;

}

.hero__title {


    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    /* or 106% */

    letter-spacing: -0.04em;

    /* 1st */

    color: #181E4B;
}

.hero__description-secondary {


    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;



    color: #5E6282;
}

.btn {


    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;


    text-align: center;



    color: #FFFFFF;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
}

.btn-video {


    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #686D77;

}
