:root {
    --rectangel: #DFD7F9;
    --black: #000;
    --yellow: #F1A501;
    --l-red: #DF6951;
    --text: #181E4B;


}
*{
    box-sizing: border-box;
}

body {
    font-family: "Volkhov", "poppins";

}

.wrapper {
    display: inline-block;
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;

}















