:root{
    --rectangel: #DFD7F9;
    --black: #000
}
body {
    font-family: "Volkhov";

}
.header {
    display: flex;

}
.header-img {
    padding-right: 10%;
    padding-left: 10%;


}
.nav {
    display: flex;
    list-style-type: none;
    padding-right: 10% ;
}
.nav-item {
    margin-right: 7%;

}
.nav-link {
    color: var(--black);
    text-decoration: none;

    font-family: Google Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    font-family: sans-serif;
}


.nav-frame {
    border: 1px solid #211919;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 7px;
}