:root {
    --rectangel: #DFD7F9;
    --black: #000;
    --yellow: #F1A501;
    --l-red: #DF6951;
    --text: #181E4B;
--dark-blue: #1E1D4C;

}
*{
    box-sizing: border-box;
}

.body {




}

.wrapper {
    display: inline-block;
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;

}















