:root{
    --rectangel: #DFD7F9;
    --black: #000
}
body {
    font-family: 'Volkhov',"Poppins"
}
.header {
    display: flex;
    justify-content: center;
}
.header-img {
    margin-left: 140px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 10% ;
}
.nav-item {
    margin-right: 52px;
}
.nav-link {
    color: var(--black);
    text-decoration: none;}