:root{
    --rectangel: #DFD7F9;
    --black: #000;

}
*,*:before,*:after{
    box-sizing: border-box;
}
body {
    font-family: "Volkhov";

}
.wrapper{
    margin: 0 auto;
    max-width: 1160px;
}
.header {
    display: flex;
    justify-content: space-between;

}
.header-img {



}
.nav {
    display: flex;
    list-style-type: none;
}
.nav-item {
    margin-right: 7%;

}
.nav-link {
    color: var(--black);
    text-decoration: none;

    font-family: Google Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    font-family: sans-serif;
}


.nav-frame {
    border: 1px solid #211919;
    padding-right: 21px;
    padding-left: 21px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 7px;
}